<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Slides</title>
  </head>
  <body>
    <header>
      <h1>My Slides</h1>
    </header>
    <div style="margin: 2rem 0">
      <ul>
        {{ range .Pages }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <footer>
      &copy; 0Yu
      <a href="https://github.com/yud0uhu">https://github.com/yud0uhu</a>
    </footer>
  </body>
</html>
